* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Josefin Sans', Regular, sans-serif;
}

h1 {
  font-style: bold;
  text-align: center;
  font-size: 4em;
  color: #FFFFFF;
}

h2 {
  font-style: bold;
  text-align: center;
  font-size: 2em;
  margin: 20px;
}

p {
  font-size: 1em;
}

/* -- nav-bar--*/

nav {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #FFE8DD ;
}

nav ul {
  float: right;
  vertical-align: top;
  margin: 0 auto;
}

nav ul li {
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
}

/*parallax*/

.parallax-container {
  height: 90vh;
  background-color: #FFE8DD;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.header {
  position: absolute;
  top: 20%;
}

.center {
  text-align: center;
}

.section-heading {
  margin: 20px;
  /*border: 3px solid green;*/
}

#about-me {
  margin: auto;
  text-align: center;
  height: 80vh;
  /*border: 5px solid red;*/
  display: inline-block;
}

#skills {
  margin-top: 10px;
  text-align: center;
  height: 50vh;
  /*border: 1px solid black;*/
  position: relative;
  display: inline-block;
}

#contact {
  margin-top: 10px;
  text-align: center;
  height: 50vh;
  /*border: 3px solid green;*/
  position: relative;
  display: inline-block;
}

#name {
  color: #FA0000;
}

footer {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  height: 30vh;
  /*border: 1px solid black;*/
  position: relative;
  display: inline-block;
}

/*containter for testing */

.projects {
  /*width: 80%;*/
  max-width: 960px;
  padding: 10px 20px;
  margin: 0 auto;
  position: relative;
}

.col {
  width: calc(100% / 3);
  min-height: 200px;
  float: left;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 10px 20px;
  text-align: center;
}

/*Columns*/

.column {
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -ms-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;

  border-radius: 5px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  float: left;
  /*border: 1px solid black;*/
  margin-top: 15px;
}


.row {
  clear: both;
}

.lg-col-5 {
  width: calc( 5 / 12 * 100% );
}

.lg-col-7 {
  width: calc( 7 / 12 * 100% );
}

.hr {
  width: 250px;
  align: center;
  border-top: 3px solid #FA0000;
  text-align: center;
  margin: auto;

}

.circle-image > img {
  border-radius: 100px;
  height: 250px;
}

img.project-images {

  width: 150px;
}
