* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}


body {
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
  /*color: 	#F5F5F5;*/
}

h1 {
  font-style: bold;
  text-align: center;
  font-size: 4.5em;
  color: #cdc4ac;
}

h2 {
  font-style: bold;
  text-align: center;
  font-size: 2em;
  margin: 20px;
}

p {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}
.fullstop {
  color: #525252;
}

.bold {
  font-weight: bold;
}

/*NAV BAR*/

.navbar-fixed nav {
  position: fixed;
}

nav {
  position: relative;
  height: 60px;
  z-index: 997;
  overflow: hidden;
  width: 100%;
  height: 50px;
  line-height: 50px;
  /* background-color: #FFF2F3 ; */
}

nav ul {
  float: right;
  vertical-align: top;
  margin: 0 auto;
}

nav ul li {
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
}

nav, nav span.button-collapse i {
  color: #525252;
  line-height: 70px;
}

a {
  color:  #525252;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  margin: 10px;
}

/*SIDE NAV*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFFFFD;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding-left: 32px;
    text-decoration: none;
    color: #525252;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus, nav ul a:hover{
    /* background-color: #FFF2F3; */
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/*HERO*/

#name {
  color: #525252;
}

/*INTRO*/

.intro {
  overflow: hidden;
  height: 100vh;
  /* background-color: #FFF2F3; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.header {
  position: absolute;
  top: 25%;
}

.center {
  text-align: center;
}

.circle {
  width: 300px;
  height: 300px;
  position: absolute;
  background-color: #B0583A;
  border-radius: 50%;
  left: 63%;
  top: 68%;
}

.half-circle {
  width: 200px;
  height: 200px;
  position: absolute;
  background-color: #B0583A;
  border-radius: 50%;
  left: -7%;
  top: 30%;
}

.horseshoe {
  height:150px;
  width: 75px;
  border-radius: 150px  20px 20px 150px ;
  border-top: 20px solid #000;
  border-left: 20px solid #000;
  border-bottom: 20px solid #000;
  transform: translate(300px) rotate(-40deg);
  margin-top: 40%;
}

.blockLine {
  height: 260px;
  width: 40px;
  background-color: #8B572A;
  position: absolute;
  left: 65%;
  top: 40%;
  transform: translate(500px) rotate(-40deg);
  /* z-index: -1; */
}

/*ABOUT ME SECTION*/

#about-me {
  padding-left: 30px;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.circle-image > img {
  border-radius: 100px;
  height: 250px;
  margin-top: 15%;
  /* border: 4px solid #FF3652; */
}

.whitebox {
  display: inline-block;
  margin-top: 10px;
  border-radius: 25%;
  height: 50%;
  width: 50%;
}

.about-me-paragraph {
  text-align: center;
  color: #525252;
  font-size: 1em;
  left: 30%;
  /* margin: 5%; */
  /* padding-left: 50%; */
}

.column {
  float: left;
  margin-top: 0px;
}

/*PROJECT SECTION*/

.project {
  background: #FFFFFD;
}

img.project-images {
  width: 400px;
}

.black {
  color: #525252;
  max-width: 80%;
  text-align: left;
  margin-left: 12%;
}

.black a {
  text-decoration: none;
  margin: auto;
}

.col {
  width: calc(100% / 2);
  min-height: 80vh;
  max-width: 100%;
  float: left;
  box-sizing: border-box;
  padding: 20px 20px;
  text-align: center;
}

/*COLUMNS*/

.row {
  clear: both;
}

.lg-col-6 {
  width: calc( 6 / 12 * 100% );
}

.red-hr {
    width: 250px;
    align: center;
    border-top: 3px solid #cdc4ac;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

.button {
  border: 2px solid #FFE8DD;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 40px;
  margin-right: 10px;
  min-width: 120px;
  text-align: center;
}

.button:hover {
  border: 2px solid #CDC4AC;
}

.contact {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  /* background: #FFF3F3; */
  position: relative;
  display: inline-block;
  position: relative;
}

footer {
    color: #525252;
    font-size: 0.75em;
    text-align: center;
    margin-top: 0;
    width: 100%;
    height: 60px;
    line-height: 50px;
    /* background-color: #FFF3F3 ; */
}

/*RESPONSIVE*/
.row {
  clear: both;
}

.column {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box
  float: left;
  min-height: 50px;
}


/* DESKTOP MEDIA QUERY */
@media only screen and (max-width: 1560px) and (min-width: 1281px) {
  .hide-on-monitor {
    display: none;
  }

  .lg-col-12 {
    width: 100%;
  }

  .lg-col-6 {
    width: 50%;
  }

  .skills img  {
    width: 90px;
    display: inline-block;
    margin: 8px 14.5px;
  }

  .skills circle {
    margin: 0 auto;
    padding-top: 33px;
    width: 100%;
  }

}

/* TABLET MEDIA QUERY */
@media only screen and (max-width: 1280px) and (min-width: 841px) {
  nav .brand-logo {
    left: 50%;
    transform: translateX(-50%);
  }

  .hide-on-tablet {
    display: none;
  }

  .md-col-12 {
    width: 100%;
  }

  .md-col-6 {
    width: 50%;
  }

}

/* PHONE MEDIA QUERY */
@media screen and (max-width: 840px) {
  nav .brand-logo {
    left: 50%;
    transform: translateX(-50%);
  }

  .hide-on-mobile {
    display: none;
  }

  .sm-col-12 {
    width: 100%;
  }

  .sm-col-6 {
    width: 50%;
  }

  .column {
    width: 100%;
  }

  .col {
    width: calc(100% );
}
/* /// RESPONSIVE FONT & GRIDS END /// */
