* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}


body {
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
  /*color: 	#F5F5F5;*/
}

h1 {
  font-style: bold;
  text-align: center;
  font-size: 4.5em;
  color: #FF3652;
}

h2 {
  font-style: bold;
  text-align: center;
  font-size: 2em;
  margin: 20px;
}

p {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}

.red {
  color: #FF3652;
}

.pink {
  color: #FFF2F3;
}

.fullstop {
  color: #525252;
}

.bold {
  font-weight: bold;
}

/*NAV BAR*/

.navbar-fixed nav {
  position: fixed;
}

nav {
  position: relative;
  height: 60px;
  z-index: 997;
  overflow: hidden;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #FFF2F3 ;
}

nav ul {
  float: right;
  vertical-align: top;
  margin: 0 auto;
}

nav ul li {
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
}

nav, nav span.button-collapse i {
  color: #4b576e;
  line-height: 70px;
}

a {
  color:  #FF3652;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  margin: 10px;
}

/*SIDE NAV*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFFFFD;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding-left: 32px;
    text-decoration: none;
    color: #525252;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus, nav ul a:hover{
    background-color: #FFF2F3;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/*HERO*/

#name {
  color: #525252;
}

.wiggle {
  margin-left: 45%;
  margin-top: 5%;
}

/*INTRO*/

.intro {
  overflow: hidden;
  height: 100vh;
  background-color: #FFF2F3;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.header {
  position: absolute;
  top: 20%;
}

.center {
  text-align: center;
}

/*ABOUT ME SECTION*/

.about {
  background: #FFFFFD;
}

#about-me {
  padding-left: 30px;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.circle-image > img {
  border-radius: 100px;
  height: 250px;
  margin-top: 15%;
  border: 4px solid #FF3652;
  border-style: dotted
}

.whitebox {
  display: inline-block;
  margin-top: 10px;
  border-radius: 25%;
  height: 50%;
  width: 50%;
}

.about-me-paragraph {
  text-align: left;
  color: #525252;
  font-size: 1em;
  margin: 5%;
}

.column {
  float: left;
  margin-top: 0px;
}


/*SKILL SECTION*/

#skills {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  height: auto;
  background-color: #FFF2F3;
  position: relative;
  display: inline-block;
}

.circle {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #FFF2F3;
  font-size: 1.25em;
  line-height: 6.5;
  text-align: center;
  display: inline-block;
  background-color: #FF3652;
  /*background-color: #FFF2F3;*/
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin: 20px;
}

.circle-container {
  margin-bottom: 30px;
}

.circle:hover {
  background-color: #FFF2F3;
  color: #FF3652;
}

.circle-two:hover {
  background-color: #FFE8DD;
  color: #FF3652;
}

/*PROJECT SECTION*/

.project {
  background: #FFFFFD;
}

img.project-images {
  width: 400px;
}

.black {
  color: #525252;
  max-width: 80%;
  text-align: left;
  margin-left: 12%;
}

.black a {
  text-decoration: none;
  margin: auto;
}

.col {
  width: calc(100% / 2);
  min-height: 80vh;
  float: left;
  /*border: 2px solid #FF3652;*/
  box-sizing: border-box;
  padding: 20px 20px;
  text-align: center;
}


/*Columns*/

.row {
  clear: both;
}

.lg-col-6 {
  width: calc( 6 / 12 * 100% );
}

.hr {
  width: 250px;
  align: center;
  border-top: 5px solid #FFF3F3;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

.red-hr {
    width: 250px;
    align: center;
    border-top: 3px solid #FF3652;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

.about-hr {
  width: 250px;
  border-top: 3px solid #FFE8DD;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30%;
}

.button {
  border: 2px solid #FFE8DD;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 40px;
  margin-right: 10px;
  min-width: 120px;
  text-align: center;
}

.button:hover {
  border: 2px solid #FF3652;
  /*color: #FF3652;*/
}

.contact {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  background: #FFF3F3;
  position: relative;
  display: inline-block;
  position: relative;
  /*-webkit-clip-path: polygon(0 0, 1600px 0, 1600px 90%, 0 90%);*/
  /*clip-path: polygon(0 0, 1600px 10%, 1600px 100%, 0 100%);*/
}

footer {
    /*border-top: 2px solid #FF3652 ;*/
    color: #525252;
    font-size: 0.75em;
    text-align: center;
    margin-top: 0;
    width: 100%;
    height: 60px;
    line-height: 50px;
    background-color: #FFF3F3 ;
}



/* /// RESPONSIVE FONT & GRIDS START /// */
.row {
  clear: both;
}

.column {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  float: left;
  min-height: 50px;
}


/* DESKTOP MEDIA QUERY */
@media only screen and (max-width: 1560px) and (min-width: 1281px) {
  .hide-on-monitor {
    display: none;
  }

  .lg-col-12 {
    width: 100%;
  }

  .lg-col-9 {
    width: 75%;
  }

  .lg-col-8 {
    width: -webkit-calc(100% / 12 * 8);
    width: -moz-calc(100% / 12 * 8);
    width: -ms-calc(100% / 12 * 8);
    width: -o-calc(100% / 12 * 8);
    width: calc(100% / 12 * 8);
  }

  .lg-col-7 {
    width: -webkit-calc(100% / 12 * 7);
    width: -moz-calc(100% / 12 * 7);
    width: -ms-calc(100% / 12 * 7);
    width: -o-calc(100% / 12 * 7);
    width: calc(100% / 12 * 7);
  }

  .lg-col-6 {
    width: 50%;
  }

  .lg-col-5 {
    width: -webkit-calc(100% / 12 * 5);
    width: -moz-calc(100% / 12 * 5);
    width: -ms-calc(100% / 12 * 5);
    width: -o-calc(100% / 12 * 5);
    width: calc(100% / 12 * 5);
  }

  .lg-col-4 {
    width: -webkit-calc(100% / 3);
    width: -moz-calc(100% / 3);
    width: -ms-calc(100% / 3);
    width: -o-calc(100% / 3);
    width: calc( 100% / 3 );
  }

  .lg-col-3 {
    width: 25%;
  }

  .lg-col-3-offset {
    margin-left: 25%;
  }

  .skills img  {
    width: 90px;
    display: inline-block;
    margin: 8px 14.5px;
  }

  .aprilia {
    height: 80vh;
    overflow: hidden;
  }

  .aprilia img {
    margin-top: -120px;
    width: 100vw;
  }

  .motoguzzi img {
    margin: 0 auto;
    padding-top: 33px;
    width: 100%;
  }

  .wireframe img {
    margin: 0 auto;
    padding-top: 25px;
    width: 100%;
  }

  .waste-not img {
    margin: 0 auto;
    padding-top: 25px;
    width: 100%;
  }

  #waste-not {
    height: 468px;
  }

}

/* TABLET MEDIA QUERY */
@media only screen and (max-width: 1280px) and (min-width: 841px) {
  nav .brand-logo {
    left: 50%;
    transform: translateX(-50%);
  }

  .hide-on-tablet {
    display: none;
  }

  .md-col-12 {
    width: 100%;
  }

  .md-col-9 {
    width: 75%;
  }

  .md-col-8 {
    width: -webkit-calc(100% / 12 * 8);
    width: -moz-calc(100% / 12 * 8);
    width: -ms-calc(100% / 12 * 8);
    width: -o-calc(100% / 12 * 8);
    width: calc(100% / 12 * 8);
  }

  .md-col-7 {
    width: -webkit-calc(100% / 12 * 7);
    width: -moz-calc(100% / 12 * 7);
    width: -ms-calc(100% / 12 * 7);
    width: -o-calc(100% / 12 * 7);
    width: calc(100% / 12 * 7);
  }

  .md-col-6 {
    width: 50%;
  }

  .md-col-5 {
    width: -webkit-calc(100% / 12 * 5);
    width: -moz-calc(100% / 12 * 5);
    width: -ms-calc(100% / 12 * 5);
    width: -o-calc(100% / 12 * 5);
    width: calc(100% / 12 * 5);
  }

  .md-col-4 {
    width: -webkit-calc(100% / 3);
    width: -moz-calc(100% / 3);
    width: -ms-calc(100% / 3);
    width: -o-calc(100% / 3);
    width: calc( 100% / 3 );
  }

  .md-col-3 {
    width: 25%;
  }

  .skills img  {
    width: 80px;
    display: inline-block;
    margin: 7px 14.5px;
  }

  .aprilia img {
    width: 100vw;
  }

  .motoguzzi img {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 60px;
  }

  .wireframe img {
    margin: 0 auto;
    width: 100%;
  }

  .waste-not img {
    margin: 0 auto;
    padding-top: 25px;
    width: 100%;
  }

  #contact .info {
    padding-bottom: 0;
  }

}

/* PHONE MEDIA QUERY */
@media screen and (max-width: 840px) {
  nav .brand-logo {
    left: 50%;
    transform: translateX(-50%);
  }

  .hide-on-mobile {
    display: none;
  }

  .sm-col-12 {
    width: 100%;
  }

  .sm-col-9 {
    width: 75%;
  }

  .sm-col-8 {
    width: -webkit-calc(100% / 12 * 8);
    width: -moz-calc(100% / 12 * 8);
    width: -ms-calc(100% / 12 * 8);
    width: -o-calc(100% / 12 * 8);
    width: calc(100% / 12 * 8);
  }

  .sm-col-7 {
    width: -webkit-calc(100% / 12 * 7);
    width: -moz-calc(100% / 12 * 7);
    width: -ms-calc(100% / 12 * 7);
    width: -o-calc(100% / 12 * 7);
    width: calc(100% / 12 * 7);
  }

  .sm-col-6 {
    width: 50%;
  }

  .sm-col-5 {
    width: -webkit-calc(100% / 12 * 5);
    width: -moz-calc(100% / 12 * 5);
    width: -ms-calc(100% / 12 * 5);
    width: -o-calc(100% / 12 * 5);
    width: calc(100% / 12 * 5);
  }

  .sm-col-4 {
    width: -webkit-calc(100% / 3);
    width: -moz-calc(100% / 3);
    width: -ms-calc(100% / 3);
    width: -o-calc(100% / 3);
    width: calc( 100% / 3 );
  }

  .sm-col-3 {
    width: 25%;
  }

  .skills img  {
    width: 76px;
    display: inline-block;
    margin: 7px 14.5px;
  }

  .aprilia img {
    width: 100vw;
  }

  .motoguzzi img {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 60px;
  }

  .wireframe img {
    margin: 0 auto;
    width: 100%;
    padding-top: 60px;
  }

  .waste-not img {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 60px;
  }

  #contact .info {
    padding-bottom: 0;
  }

  #contact .beginning {
    padding-top: 0;
  }
}
/* /// RESPONSIVE FONT & GRIDS END /// */
