* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
}

h1 {
  font-style: bold;
  text-align: center;
  font-size: 4.5em;
  color: #FF3652;
}

h2 {
  font-style: bold;
  text-align: center;
  font-size: 2em;
  margin: 20px;
}

p {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}

.red {
  color: #FF3652;
}

.pink {
  color: #FFF2F3;
}

.black {
  color: #525252;
}
/* -- nav-bar--*/

nav {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #FFF2F3 ;
}

nav ul {
  float: right;
  vertical-align: top;
  margin: 0 auto;
}

nav ul li {
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
}

a#logo-container {
  color: #FF3652;
  font-family: 'Roboto', sans-serif;
}

a {
  color:  #FF3652;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  margin: 10px;
}

/*hero*/

#name {
  color: #525252;
  /*color: white;*/
}

.wiggle {
  margin-left: 45%;
  margin-top: 5%;
}

/*parallax*/


.parallax-container-intro {
  height: 100vh;
  /*background-color: #FF3652;*/
  /*background-color: #FFF2F3;*/
  background-color: #FFF2F3;
  /*background-color: white;*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
}

/*.parallax-container-about {
  height: 100vh;
  background-color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}*/

/*.parallax-container-skills {
  width: 100%;
  height: 100vh;
  background-color: #FF3652;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  -webkit-clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
  clip-path: polygon(0 0, 1600px 20%, 1600px 80%, 0 100%);
}*/
/*
.parallax-container-contact {
  height: 200vh;
  background-color: #FFE8DD;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  -webkit-clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
  clip-path: polygon(0 0, 1600px 20%, 1600px 80%, 0 100%);
}*/

.header {
  position: absolute;
  top: 20%;
}

.center {
  text-align: center;
}

/*about me section*/

#about-me {
  padding-left: 30px;
  width: 100%;
  /*height: 80vh;*/
  text-align: center;
  /*border: 5px solid yellow;*/
  display: inline-block;
}

.circle-image > img {
  border-radius: 100px;
  height: 250px;
  margin-top: 15%;
  border: 8px solid #FF3652;
  border-style: dotted
  /*margin-bottom: 25%;*/
}

.whitebox {
  display: inline-block;
  margin-top: 10px;
  border-radius: 25%;
  background: #FF3652;
  height: 50%;
  width: 50%;

}


.about-me-paragraph {
  color: white;
  font-size: 1em;
  margin: 5%;
}

.small-circle{
  background: white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: auto;
}

a.contact-links {
  color: white;
}

a.contact-links:hover {
  color: #FFE8DD;
}

/*skill section*/

#skills {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  height: auto;
  background-color: #FFF2F3;
  /*border: 1px solid black;*/
  position: relative;
  display: inline-block;
  /*-webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);*/
  clip-path: polygon(0 0, 100% 6%, 100% 92%, 0 100%);
}

.circle {
  /*border: 1.5px solid #FF3652;*/
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #FFF2F3;
  font-size: 1.25em;
  line-height: 6.5;
  text-align: center;
  display: inline-block;
  background-color: #FF3652;
  /*background-color: #FFF2F3;*/
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin: 20px;
}

.circle-container {
  margin-bottom: 30px;
}

.circle:hover {
  background-color: #FFF2F3;
  color: #FF3652;
}

.circle-two:hover {
  background-color: #FFE8DD;
  color: #FF3652;
}

/*Projects*/


.projects {
  /*width: 80%;*/
  max-width: 960px;
  padding: 10px 20px;
  margin: 0 auto;
  position: relative;
  height: auto;
}

img.project-images {
  width: 400px;
}


.col {
  width: calc(100% / 2);
  min-height: 200px;
  float: left;
  /*border: 2px solid #FF3652;*/
  /*background: #FF3652;*/
  box-sizing: border-box;
  padding: 10px 20px;
  text-align: center;
  /*margin: 10px;*/
}

/*Columns*/

.column {
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -ms-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
  border-radius: 35px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  float: left;
  /*border: 1px solid black;*/
  margin-top: 0px;
}


.row {
  clear: both;
}

.lg-col-6 {
  width: calc( 6 / 12 * 100% );
}

/*.lg-col-8{
  width: calc( 8 / 12 * 100% );
}*/


.hr {
  width: 250px;
  align: center;
  border-top: 5px solid #FFF3F3;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

.red-hr {
    width: 250px;
    align: center;
    border-top: 3px solid #FF3652;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

.about-hr {
  width: 250px;
  border-top: 3px solid #FFE8DD;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30%;
}


.contact {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  background: #FFF3F3;
  /*height: 50vh;*/
  /*border: 3px solid green;*/
  position: relative;
  display: inline-block;
  position: relative;
  -webkit-clip-path: polygon(0 0, 1600px 0, 1600px 90%, 0 90%);
  clip-path: polygon(0 0, 1600px 10%, 1600px 100%, 0 100%);
}


footer {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  height: 30vh;
  position: relative;
  display: inline-block;
}

/*containter for testing */

/*form*/

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #FF3652;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #FFF3F3;
    color: #FF3652;
}

/* Add a background color and some padding around the form */
.container {
    width: 60%;
    border-radius: 5px;
    background-color: #FFF3F3;
    padding: 20px;
}

footer {
    /*border-top: 2px solid #FF3652 ;*/
    color: #FF3652;
    margin-top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #FFF3F3 ;
}
